
[Unit]
Description=Podstream Service for Volumio

[Service]
Type=simple
ExecStart=/data/plugins/music_service/podstream/rss2playlist_service.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=volumio
User=volumio
Group=volumio

[Install]
WantedBy=multi-user.target